<div class="col-md-4 offset-md-4 mt-5">
    <div class="alert alert-success" *ngIf='message'>{{message}}</div>
    <form #updateuserPassword='ngForm' (ngSubmit)='password(updateuserPassword)'>
        <div class="form-group">
            <label for="userPassword">New Password : </label>
            <input type="Password" name="userPassword" #userPassword='ngModel' ngModel required minlength="6"
                userPassword class="form-control" placeholder="Enter userPassword">
        </div>
        <div *ngIf='userPassword.touched && userPassword.invalid'>
            <p class="alert alert-danger" *ngIf='userPassword.errors'>This Field is Mandatory</p>
            <p class="alert alert-danger" *ngIf='userPassword.validator.length'>Minimum Length is 6</p>
        </div>
        <button class="btn btn-outline-primary" type="submit">
           Change Price
        </button>
    </form>
</div>