<div class="col-md-4 offset-md-4 mt-5">
    <div class="alert alert-danger" *ngIf='error'>{{error}}</div>
    <div class="alert alert-success" *ngIf='message'>{{message}}</div>
    <form #addAdmin='ngForm' (ngSubmit)='addAdmin(addAdmin)'>
        <div class="card">
            <div class="card-header">
                Admin Register!!!
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input type="email" name="userEmail" #userEmail='ngModel' ngModel required minlength="8" email
                        class="form-control" placeholder="Enter Email">
                </div>
                <div *ngIf='userEmail.touched && userEmail.invalid'>
                    <p class="alert alert-danger" *ngIf='userEmail.errors.required'>This Field is Mandatory</p>
                    <p class="alert alert-danger" *ngIf='userEmail.errors.minlength'>Minimum Length is 8</p>
                    <p class="alert alert-danger" *ngIf='userEmail.errors.email'>Accept only Email</p>
                </div>
                <div class="form-group">
                    <label for="userName">Full Name : </label>
                    <input type="text" name="userName" #userName='ngModel' ngModel userName class="form-control"
                        placeholder="userName"  pattern="[a-zA-zs]+\s[a-zA-Z]+$">
                </div>
                <div *ngIf='userName.touched && userName.invalid'>
                    <p class="alert alert-danger" *ngIf='userName.errors.required'>This Field is Mandatory</p>
                    <p class="alert alert-danger" *ngIf='userName.errors.pattern'>Full Name Must be First and Last name </p>
                </div>

                <div class="form-group">
                    <label for="userPassword">User Password : </label>
                    <input type="Password" name="userPassword" #userPassword='ngModel' ngModel required minlength="8"
                        userPassword class="form-control" placeholder="Enter userPassword">
                </div>
                <div *ngIf='userPassword.touched && userPassword.invalid'>
                    <p class="alert alert-danger" *ngIf='userPassword.errors'>This Field is Mandatory</p>
                    <p class="alert alert-danger" *ngIf='userPassword.validator.length'>Minimum Length is 8</p>
                </div>
                <button class="btn btn-outline-primary" type="submit" [disabled]='addAdmin.invalid'
                    (click)='printForm(addAdmin)'>
                    Register
                </button>
            </div>
        </div>
    </form>
</div>